
body {
    font-family: Verdana,Arial,sans-serif;
}


/* main, container, text-header, body-text are arranged so that
  "BACDS Zoom Elections" intersects the border
   from https://stackoverflow.com/a/31680386
*/
.main {
    width: 1000px;
    height: 100%;
    margin-left: 40px;
    margin-top: 20px;
}

.container {
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.text-header {
    color: white;
    text-align: center;
    top: 60px;
    width: 210px;
    left: 100px;
    position: absolute;
    background: white;
}

.body-text {
    margin: 10px;
    text-align: left;
    padding: 30px 20px 80px 50px;
    border: 2px solid black;
}

.election-name {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.election-date {
  font-size: 1.0em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 10px;
  margin-right: 0;
  font-style: italic;
}

.voting-step-name {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


form {
    padding: 10px;
}

form div {
    padding: 10px;
}

.errors {
    border: 1px solid black;
    background-color: yellow;
    margin: 40px;
}

.message {
    border: 1px solid black;
    background-color: lightgreen;
    margin: 20px;
    padding: 10px;
}

.card div {
    margin: 10px;
}

table.voting-results, th, td { /* FIXME, th and td only in this classed table */
    /*
    border-style: solid;
    border-collapse: collapse;
    */
    border-bottom: 1px solid #ddd;
}
thead tr, thead td {
    border-bottom: 1px solid black;
    background-color: #f5f5f5;
}
tr:hover {background-color: #f5f5f5;}
tbody tr:nth-child(even) {background-color: #f2f2f2;}

td.myvote {
    /* font-weight: bold; */
    border: 1px solid blue;
    border-collapse: collapse:
}
