<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>The [% organization_name %] Election Counter</title>

<link rel="stylesheet" type="text/css" href="[% static_uri_for('styles.css') %]" />

<style>
</style>


</head>
<body>

<div class="main">
    <div class="container">
        <div class="text-header">
            <a href="[% uri_for( path => '/' ) %]">BACDS Zoom Elections</a>
        </div>
        <div class="body-text">
            <span class="election-name xxx">
                [% election_name %]
            </span>
            <span class="election-date">
                [% election_date %]
            </span>

