
[% IF errors %]
    <div class="errors">
[% errors.0 %]
        <ul>
        [% FOR error IN errors %]
            <li>[% error | html %]
        [% END %]
        </ul>

    </div>
[% END %]

<form method="POST" action="[% uri_for( path => "/record-vote" ) %]">
    <div>
        <!-- This is your voting key: [% voter %]<br> -->
    </div>
    <div>
        Enter your vote here and hit 'submit':<br>
        <input type="text" name="vote" size="50">

    </div>
    <div>
        <input type="hidden" name="voter" value="[% voter %]">
        <input type="hidden" name="election-xid" value="[% election_xid %]">
        <input type="submit">
    </div>
</form>
