
[% IF errors %]
    <div class="errors">
[% errors.0 %]
        <ul>
        [% FOR error IN errors %]
            <li>[% error | html %]
        [% END %]
        </ul>

    </div>
[% END %]

<div class="voting-step-name">
Voting, Step 1
</div>
<form method="POST" action="[% uri_for( path => "/vote-start" ) %]">
    <div>
        Enter your name, email, or some other unique identifier about yourself:<br>
        <input type="text" name="voter-name" size="50">
    </div>
    <div>
        <input type="hidden" name="election-xid" value="[% election_xid %]">
        <input type="submit">
    </div>
</form>
